:root {
    --main-bg-color: rgb(200, 198, 204);
    --ball-bg-color: grey;
    --header-footer-bg-color: rgb(93, 93, 108);
    --header-footer-font-color: white;
    --section-bg-color: rgb(248, 248, 247);
    --feature-icon-bg-color: var(--theme-bg-color);
    --feature-hover-color: thistle;
    --slider-check-bg-color: #676b70;
    --text-bg-color: white;
    --theme-bg-color: rgb(235, 227, 227);
    --theme-bg-hover-color: rgb(164, 166, 170);
    --theme-font-color: black;
    --text-font-color: grey;
    --loading-section-bg-color: black;
}

[theme="dark-theme"] {
    --header-footer-bg-color: rgb(40, 40, 49);
    --section-bg-color: rgb(47, 50, 62);
    --text-bg-color: #404353;
    --theme-bg-color: rgb(105, 106, 112);
    --theme-bg-hover-color: rgb(91, 92, 95);
    --feature-hover-color: rgb(114, 115, 119);
    --slider-check-bg-color: #676b70;
    --theme-font-color: white;
    --text-font-color: white;
}

[theme="redPink-dark"] {
    --header-footer-bg-color: rgb(40, 40, 49);
    --section-bg-color: rgb(47, 50, 62);
    --text-bg-color: #404353;
    --theme-bg-color: rgb(232, 34, 89);
    --slider-check-bg-color: rgb(232, 34, 89);
    --theme-bg-hover-color: rgb(91, 92, 95);
    --feature-hover-color: rgb(240, 116, 151);
    --theme-font-color: white;
    --text-font-color: white;
}

[theme="redPink-light"] {
    --header-footer-bg-color: rgb(40, 40, 49);
    --section-bg-color: white;
    --text-bg-color: #eae9e9;
    --theme-bg-color: rgb(236, 68, 115);
    --slider-check-bg-color: rgb(232, 34, 89);
    --theme-bg-hover-color: rgb(91, 92, 95);
    --feature-hover-color: rgb(240, 116, 151);
    --theme-font-color: black;
    --text-font-color: black;
}

.dic-wrapper {
    box-shadow: 0px 0px 2px 2px grey;
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--theme-font-color);
}

.loadingWrapper {
    background: var(--section-bg-color);
    height: 200px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 3px grey;
}

.loading-head {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.loading-word {
    display: block;
    position: relative;
    overflow: hidden;
    height: 30px;
    width: 130px;
    border-radius: 20px;
    background: grey;
}

.loading-feature {
    display: flex;
    justify-content: space-around;
    width: 170px;
}

.loading-theme {
    display: block;
    position: relative;
    overflow: hidden;
    margin-right: 2px;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background: grey;
}

.loading-volume,
.loading-translate {
    display: block;
    position: relative;
    overflow: hidden;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: grey;
}

.loading-translate {
    margin-right: 2px;
}

.loading-pofspeech {
    display: flex;
    justify-content: left;
    margin: 10px;
}

.loading-btn1,
.loading-btn2,
.loading-btn3 {
    display: block;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    height: 30px;
    width: 80px;
    border-radius: 20px;
    background: grey;
}

.loading-description {
    margin-top: 25px;
}

.loading-line1,
.loading-line2,
.loading-line3 {
    display: block;
    margin: 10px;
    position: relative;
    overflow: hidden;
    height: 20px;
    border-radius: 20px;
    background: grey;
}

.loading-line1 {
    width: calc(100% - 25%);
}

.loading-line2 {
    width: calc(100% - 35%);
}

.loading-line3 {
    width: calc(100% - 15%);
}

.loading-word::before,
.loading-volume::before,
.loading-theme::before,
.loading-translate::before,
.loading-btn1::before,
.loading-btn2::before,
.loading-btn3::before,
.loading-line1::before,
.loading-line2::before,
.loading-line3::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, transparent, rgb(202, 199, 199));
    background-repeat: no-repeat;
    background-size: 200px 500px;
    transform: tranlateX(-100%);
    animation: loading 2s infinite;
}

.loading-theme::before {
    animation-delay: 0.3s;
}

.loading-translate::before {
    animation-delay: 0.35s;
}

.loading-volume::before {
    animation-delay: 0.4s;
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

.dic-head {
    background-color: var(--header-footer-bg-color);
    font-size: 14px;
    letter-spacing: 1.2pt;
    padding: 2px;
    padding-left: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--header-footer-font-color);
    border-bottom: 1.5px solid var(--main-bg-color);
    display: none;
}

#cross {
    position: absolute;
    top: 3px;
    right: 5px;
    background-color: #dfd3d3;
    width: 18px;
    z-index: 100;
    height: 18px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0px 0px 1px 1px gray;
}

#errorWrapper {
    position: absolute;
    height: 200px;
    display: flex;
    background-color: var(--main-bg-color);
    width: -moz-available;
    width: -webkit-fill-available;
    top: 0px;
    display: block;
    z-index: 3;
}

#errorWrapper #not-found-wrapper {
    position: absolute;
    z-index: 10;
    background-color: #dd2a2a;
    height: inherit;
    width: -moz-available;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#errorWrapper #notfound {
    width: 70px;
    height: 70px;
    align-self: center;
}

#errorWrapper #notfoundmessage {
    font-family: Montserrat-Light;
    text-align: center;
    position: relative;
    color: black;
    top: 25px;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 5px;
    content: "Not Found";
}


/* y-axis scrollbar*/

.dic-section::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

.dic-section::-webkit-scrollbar-track {
    background: transparent;
}

.dic-section::-webkit-scrollbar-thumb {
    background: #888;
}

.dic-section::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* x-axis scrollbar*/

.pofspeech::-webkit-scrollbar {
    height: 5px;
    border-radius: 10px;
}

.pofspeech::-webkit-scrollbar-track {
    background: transparent;
}

.pofspeech::-webkit-scrollbar-thumb {
    background: #888;
}

.pofspeech::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.head-sec {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-bg-color);
    font-family: Ubuntu-Regular;
}

.dic-head {
    background-color: var(--header-footer-bg-color);
    font-size: 14px;
    letter-spacing: 1.2pt;
    padding: 2px;
    padding-left: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--header-footer-font-color);
    border-bottom: 1.5px solid var(--main-bg-color);
    /* display: none; */
}

.word::before {
    content: "Word";
    padding: 10px;
    font-size: 18px;
    font-family: Ubuntu-Regular;
}


/* features css  */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--theme-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 2.67px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--slider-check-bg-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

#theme-changer {
    display: inline-block;
    padding-top: 0px;
    position: absolute;
    top: 13px;
    right: 80px;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.feature-icon {
    height: 20px;
    width: 20px;
    margin: 5px;
}

#volume,
#translator {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--feature-icon-bg-color);
    transition: background 0.5s linear;
}

#volume:hover,
#volume:active,
#translator:hover {
    background-color: var(--feature-hover-color);
    cursor: pointer;
}

.dic-section {
    display: none;
    background-color: var(--section-bg-color);
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 200px;
    max-height: max-content;
}

.dic-section .box {
    /* background-color: white; */
    min-height: max-content;
    max-height: 182px;
    width: -moz-available;
    width: -webkit-fill-available;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    top: 100px;
    display: none;
    text-align: left;
    font-family: NotoSans-Regular;
}

.dic-section .pofspeech {
    position: sticky;
    box-shadow: 1px 1px 1px grey;
    z-index: 2;
    top: 0px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    flex-flow: row;
    text-transform: capitalize;
    font-family: Ubuntu-Regular;
    background-color: var(--text-bg-color);
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
}

.dic-section .pofspeech ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: left;
}

.dic-section .pofspeech ul li {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
    margin: 0px;
    margin-right: 4px;
    border-radius: 18px;
    width: max-content;
    background-color: var(--theme-bg-color);
    color: var(--theme-font-color);
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    border: 2px solid transparent;
    transition: background 0.5s linear;
}

.dic-section .pofspeech ul li:hover {
    cursor: pointer;
    border: 2px solid var(--main-bg-color);
    background-color: var(--theme-bg-hover-color);
}

.dic-section .box .dic-inner-sec {
    background-color: var(--text-bg-color);
    font-size: 13px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid var(--main-bg-color);
}

.dic-section .box .dic-inner-sec .header {
    color: var(--text-font-color);
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--theme-bg-color);
}

.readmore-extension-text-area {
    display: list-item;
    margin-left: 10px;
    line-height: 1.4;
}

.dic-section .box .dic-inner-sec .frame .object {
    position: relative;
    left: 0px;
    padding: 0px;
    margin: 10px;
    color: var(--text-font-color);
    display: block;
    min-height: max-content;
    max-height: max-content;
    overflow: hidden;
}

.dic-section .box .dic-inner-sec .frame .object::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: block;
    z-index: 4;
    position: absolute;
    bottom: 5px;
    background-color: var(--section-bg-color);
    background-image: url("icons/black/down-arrow.svg");
    background-repeat: no-repeat;
    padding: 2px;
    border: 2px solid var(--theme-bg-color);
    right: 3px;
    background-size: 14px 15px;
    background-position: center;
}

.dic-section .box .dic-inner-sec .frame .object .defwithexample-wrapper {
    position: relative;
    margin-bottom: 8px;
}

li#definition {
    position: relative;
    list-style: none;
    margin-left: 32px;
}

li#example::before {
    content: "";
    bottom: -14px;
    display: block;
    width: 16px;
    border-bottom: 2px solid var(--theme-bg-color);
    position: relative;
    left: -23px;
    top: 12px;
}

li#example {
    list-style: none;
    margin-left: 46px;
    margin-top: -1px;
}

ul.parent {
    padding: 0;
    margin: 0;
}

li#example>div:nth-child(1) {
    border: 2px solid var(--theme-bg-color);
    background-color: var(--section-bg-color);
    font-size: 13px;
    border-radius: 18px;
    position: relative;
    left: -9px;
    padding: 7px;
}

li#definition>div:nth-child(1) {
    position: relative;
    border: 2px solid var(--theme-bg-color);
    background-color: var(--section-bg-color);
    font-size: 13px;
    left: -5px;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
}

li#definition::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    border-top: 2px solid var(--theme-bg-color);
    border-left: 2px solid var(--theme-bg-color);
    border-bottom: 2px solid var(--theme-bg-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: calc(100% + 5px);
    top: 9px;
    left: -27px;
}

.example-list {
    background-color: var(--theme-bg-color);
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
    display: inline-block;
    margin-right: 4px;
    margin-top: 0px;
    margin-bottom: 6px;
}

.example-list:hover {
    background-color: rgb(230 136 162);
}

.dic-foot {
    background-color: var(--header-footer-bg-color);
    border-top: 1.5px solid var(--main-bg-color);
    padding: 2px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 2.2pt;
    padding-left: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: var(--header-footer-font-color);
    /* display: none; */
}