* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    src: url(fonts/Lobster-Regular.ttf);
    font-family: Lobster-Regular;
}

@font-face {
    src: url(fonts/Montserrat-Regular.ttf);
    font-family: Montserrat-Regular;
}

@font-face {
    src: url(fonts/Montserrat-ExtraLight.ttf);
    font-family: Montserrat-Extralight;
}

.header {
    padding: 10px;
    height: 40px;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: rgb(246, 13, 121);
    box-shadow: 0px 0px 5px 0px black;
}

#background {
    background-image: white;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

#background::before {
    content: "";
    border-radius: 40px;
    height: 30px;
    width: 450px;
    padding: 10px;
    background: rgba(247, 35, 134, 0.4);
    box-shadow: 30px 30px 2px 2px rgba(206, 204, 204, 0.6);
    position: fixed;
    bottom: 150px;
    left: -270px;
}

#background::after {
    content: "";
    border-radius: 40px;
    height: 30px;
    width: 450px;
    padding: 10px;
    background: rgba(247, 35, 134, 0.4);
    box-shadow: 30px 30px 2px 2px rgba(206, 204, 204, 0.6);
    position: fixed;
    bottom: 53px;
    left: -180px;
}

.saved {
    display: none;
    position: fixed;
    top: 80px;
    width: 100px;
    margin: auto;
    text-align: center;
    right: 0;
    left: 0;
    border: 1px solid grey;
    padding: 10px;
    background-color: #f1f1e7;
    z-index: 1;
    border-radius: 6px;
    font-weight: bolder;
    box-shadow: #333 0px 0.25em 0.5em -0.25em;
    font-size: 13px;
}

.body {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 6px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: lightpink;
    position: relative;
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(246, 13, 121);
}

input:focus {
    outline: none;
}

input:disabled {
    cursor: not-allowed;
}

select:focus {
    outline: none;
}

select:disabled {
    cursor: not-allowed;
}

button:focus {
    outline: none;
}

button:disabled {
    cursor: not-allowed;
}

input[type="radio"] {
    position: relative;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid lightpink;
    background-color: white;
    cursor: pointer;
}

input[type="radio"]:checked+label::before {
    position: absolute;
    left: -18px;
    top: 1px;
    content: "";
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: lightpink;
}

label {
    position: relative;
    cursor: pointer;
}

input[type="radio"]:hover {
    border: 2px solid rgb(246, 13, 121);
    cursor: pointer;
}

.option-field {
    position: relative;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(243 227 229 / 50%);
    border: 1.5px solid rgb(95, 96, 99);
    box-shadow: #333 0px .25em .5em -.25em;
    margin-bottom: 40px;
}

.title {
    font-family: Montserrat-Regular;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    top: -12px;
    /* background-color: lightpink; */
    background-image: linear-gradient(#f39ba8 50%, lightpink 50%);
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid white;
    box-shadow: 0px 0px 1px 1px grey;
}

.select-value {
    font-family: Montserrat-Extralight;
    margin-top: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightpink;
    border: 2px solid white;
    box-shadow: 0px 0px 0.5px 0.5px grey;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:hover {
    box-shadow: 0px 0px 2px 2px rgb(246, 13, 121);
}

.slider::before {
    position: absolute;
    content: "";
    -webkit-transition: .4s;
    transition: .4s;
    background-color: rgb(246, 13, 121);
    box-shadow: 0px 0px 0.5px 1px grey;
    border: 2px solid white;
    height: 25px;
    width: 25px;
    left: -3px;
    bottom: -5px;
}

.slider::after {
    display: none;
    position: absolute;
    content: "Off";
    font-family: Ubuntu;
    font-size: 12px;
    width: auto;
    right: 3px;
    font-weight: bold;
    top: 2px;
    text-align: right;
    color: gray;
}

input:checked+.slider {
    background-color: rgb(246, 13, 121);
}

input:checked+.slider::before {
    background-color: white;
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
}

input:checked+.slider::after {
    content: "On";
    color: white;
    -webkit-transform: translateX(-24px);
    -ms-transform: translateX(-24px);
    transform: translateX(-24px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.option-select {
    margin-top: 20px;
}

input[type="range"] {
    height: 5px;
    appearance: none;
    width: 50%;
    border-radius: 20px;
    background: lightpink;
    border: 2px solid white;
    box-shadow: 0px 0px 1px 1px grey;
}

input[type="range"]:hover {
    box-shadow: 0px 0px 2px 2px rgb(246, 13, 121);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    box-shadow: 0px 0px 1px 1px grey;
    background-color: rgb(246, 13, 121);
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    box-shadow: 0px 0px 1px 1px grey;
    background-color: rgb(246, 13, 121);
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0px 0px 2px 2px rgb(246, 13, 121);
}

input[type="range"]::-moz-range-thumb:hover {
    box-shadow: 0px 0px 2px 2px rgb(246, 13, 121);
}

input[type="text"] {
    height: 25px;
    border: 2px solid white;
    appearance: none;
    background-color: lightpink;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 1px 1px grey;
    /* text-shadow: 0.5px 0.5px grey; */
    color: black;
    font-size: 17px;
    font-family: Montserrat-Regular;
}

input[type="text"]:focus {
    box-shadow: 0px 0px 2px 2px rgb(246, 13, 121);
}

input[type="text"]:hover {
    box-shadow: 0px 0px 2px 2px grey;
}

input[type="text"]:focus:hover {
    box-shadow: 0px 0px 2px 2px rgb(246, 13, 121);
}

button {
    background-color: rgb(246, 13, 121);
    padding: 7px;
    height: 35px;
    box-shadow: 0px 0px 1px 1px grey;
    font-family: monospace;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 9px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 2px 2px rgb(246, 13, 121);
}

select {
    background-color: lightpink;
    position: relative;
    appearance: none;
    border: 2px solid white;
    box-shadow: 0px 0px 1px 1px gray;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: Montserrat-Regular;
    cursor: pointer;
}

select:hover {
    box-shadow: 0px 0px 2px 2px rgb(246, 13, 121);
}

h3 {
    font-family: Lobster-Regular;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px black;
}